mixin educationItem(subtitle, title, content)
  .experience__item
    .experience__item-subtitle= subtitle
    .experience__item-title= title
    .experience__item-content= content

mixin experienceItem(date, title, description, domain, tech, team)
  .experience__item
    .experience__item-subtitle= date
    .experience__item-title= title
    .experience__item-content= description
    .experience__item__info 
      .info-title Domain:
      .info-value= domain
    .experience__item__info 
      .info-title Technologies:
      .info-value= tech
    .experience__item__info 
      .info-title Project Team Size:
      .info-value= team

section#experience.experience
  h2 Experience
  .experience__item-wrapper
    .experience__item-column
      .experience__item-column.title Education:
      +educationItem('2017 - 2019', 'National Metallurgical Academy of Ukraine', 'Faculty of Computer Systems, Energy and Automation')
      +educationItem('2015 - 2017', 'Academician V. Lazaryan Dnipro National University of Railway Transport', 'Faculty of Computer Technology and Systems')
      +educationItem('2010 - 2014', 'Dneprovsky College of Welding and Electronics named after E. O. Paton', 'Faculty of Computer Systems and Networks Maintenance')

    .experience__item-column
      .experience__item-column.title Work:
      +experienceItem(
        'August 2023 - until now',
        'Freelance - Front-End Developer',
        'Development and support of projects of various complexity and topics, Figma to layout.',
        '-',
        'HTML (Pug), SCSS, React.JS, JavaScript, TypeScript, Redux, Git, Swagger, Figma',
        '1 - 7'
      )
      +experienceItem(
        'January 2023 - July 2023',
        'NDA - Front-End Developer',
        'The platform that focuses on cryptocurrency wallet solutions and services. Oversaw the development of a web application for the leading site of the online store and the admin panel of the online store.',
        'Cryptocurrency',
        'HTML, SCSS, Vue.JS, TypeScript, Vuetify.JS, Git, Swagger, Figma',
        '3'
      )
      +experienceItem(
        'July 2022 - December 2022',
        'AtlasApps - Front-End Developer',
        'Worked on a web application using React.js to enhance security in institutions by detecting weapons in visitors through AI, based on the results, relayed information to 911. Developed new components, refactored existing ones, and restructured project logic and UI. Communicated regularly with an English-speaking client.',
        'SaaS, Security',
        'HTML, SCSS, React.JS, JavaScript, Redux, Git',
        '3'
      )
      +experienceItem(
        'May 2020 - January 2022',
        'FireArt Studio - Front-End Developer',
        'Developed and implemented a behavior recording tool using ReactJS to enhance product performance. Designed and optimized UI components to ensure seamless user interaction and data capture. Collaborated with cross-functional teams to integrate the tool with backend services for real-time data processing. Conducted code reviews and ensured high-quality, maintainable code through best practices. Performed testing and debugging to improve tool functionality and performance.',
        'SaaS, User Analytics',
        'HTML, SCSS, React.JS, JavaScript, Redux, Redux Saga, Git',
        '5'
      )
      +experienceItem(
        'January 2019 - May 2020',
        'BIT.TEAM - Front-End Developer',
        'Developed services to streamline cryptocurrency workflows. Created new components and maintained an existing project using React.js. Communicated regularly with the customer to align development with project requirements.',
        'Cryptocurrency',
        'HTML, SCSS, React.JS, JavaScript, Redux, Git',
        '4'
      )
      +experienceItem(
        'October 2017 - October 2020',
        'HeadWorks - Front-End Developer',
        'Developed websites using HTML, CSS (with preprocessors), JavaScript, and open-source libraries. Built web applications with Angular 2 and React.js and created the company’s main website incorporating CSS animations. Communicated with customers, provided project support, and contributed to the company\'s growth."',
        'SaaS, Events',
        'HTML, SCSS, Angular 2, React.JS, JavaScript, JQuery, Redux, Git',
        '20'
      )
      +experienceItem(
        '2015 - 2017',
        'Freelance - Trainee Front-End Developer',
        'Development of simple websites and landing pages using HTML, CSS + Preprocessors, JavaScript, open source libraries."',
        '-',
        'HTML, CSS, SCSS, JavaScript, JQuery, Git, Figma, Zeplin',
        '1 - 4'
      )
